<template name="appLayout">

    <div id="outerWrapper">
        {{> _header}}

        <div class="pane menuPane">
            {{> yield region="menuPane"}}
        </div>

        <div id="contentContainer">

            <div class="pane leftPane">
                {{> yield region="homePane"}}
            </div>

            <div class="pane rightPane">
                yield in here!
                {{> yield region="detailsPane"}}
            </div>

        </div>

        {{> loading}}
        {{> _footer}}
    </div>

</template>
