<template name="appLayout">

    <div id="outerWrapper">
        {{> _header}}

        <div class="pane menuPane">
            {{> yield region="menuPane"}}
        </div>

        <div id="contentContainer" class="container-fluid">
            <div class="row">

                <div class="pane leftPane col-xs-6">
                    {{> yield region="homePane"}}
                </div>

                <div class="pane rightPane col-xs-6">
                    {{> yield region="detailsPane"}}
                </div>

            </div>
        </div>

        {{> loading}}
        {{> _footer}}
    </div>

</template>
