<template name="marketList">
    {{#if error}}
        {{error.message}}
    {{else}}
        {{#if markets}}

            <div class="row">

                <div class="col-xs-offset-9 col-xs-2">
                    <div>
                        Miles
                    </div>
                </div>
            </div>

            {{#each markets}}
                <div class="row marketRow">

                    <div class="col-xs-8 col-xs-offset-1 text-left">
                        <div>
                            <span class="market {{selectedMarket}}">{{marketName}}</span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div>
                            {{distance}}
                        </div>
                    </div>

                </div>
            {{/each}}
        {{/if}}
    {{/if}}
</template>
